<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <hr>
    <h1>Perguntas: <a href="/perguntar" class="btn btn-primary">Perguntar</a></h1>
    <hr>
    <% perguntas.forEach(pergunta => { %>
    <div class="card" id="form-pergunta">
      <div class="card-header" id="card-header-pergunta">
        <h4><%= pergunta.titulo %></h4>
      </div>
      <div class="card-body"><%- pergunta.descricaoMarkdown %></div>
      <div class="card-footer">
        <% if(pergunta.status == true){ %>
        <p>Pergunta aberta</p>
        <% }else{ %>
        <p>Pergunta fechada</p>
        <% } %>
        <p>Criado em <%= pergunta.createdAt %></p>
        <button class="btn btn-primary">Responder</button>
      </div>
    </div>
    <br />
    <% }) %>
  </div>
  <%- include('partials/footer.ejs') %>
</body>
